body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e3d59;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}


#device-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


#device-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

#device-image:hover {
    transform: rotateX(150deg);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#device-name {
    animation: fadeIn 1s ease-in-out;

    margin-top: 20px;
    font-size: 2rem;
    color: #1e3d59;
    text-align: center;
}


#device-specs {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #333;
    text-align: justify;
}


#device-reviews {
    margin-top: 30px;
}

#reviews-container {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}


#review-text {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}


#star-rating {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.stars .fa-star {
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
}

.stars .fa-star.selected {
    color: #FFD700;
}

.stars .fa-star:hover {
    color: #FFD700;
}


button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1e3d59;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b6978;
}


footer {
    text-align: center;
    padding: 15px 0;
    background-color: #1e3d59;
    color: white;
    margin-top: 40px;
}
