.homepage {
    text-align: center;
    padding: 50px 20px;
    height: 70vh;
    background: url('images/logo3.png') no-repeat center center fixed;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}
.homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.homepage h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    margin-bottom: 20px;
}
.homepage p {
    font-size: 1.2rem;
    line-height: 1.6;
    z-index: 2;
    max-width: 600px;
    margin: 10px auto;
}
.homepage .btn {
    background-color: #1e3d59;
    color: white;
    padding: 12px 30px;
    border: none;
    font-size: 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
    text-decoration: none;
    margin: 10px;
}
.homepage .btn:hover {
    background-color: #3b6978;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 35px;
    height: 30px;
    z-index: 2;
}
.hamburger span {
    display: block;
    background-color: white;
    height: 4px;
    margin: 6px 0;
    transition: 0.3s;
}
#sidebar-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1e3d59;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.3s ease;
    z-index: 10;
}
#sidebar-menu ul {
    list-style: none;
    padding: 0;
}
#sidebar-menu ul li {
    margin: 15px 0;
}
#sidebar-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
#sidebar-menu ul li a:hover {
    color: #3b6978;
}
#sidebar-menu.active {
    left: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Roboto Font */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
h5 {
    text-align: center;
    color: #112e48;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
header {
    background-color: #1e3d59;
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #e3e9ec;
    font-size: 2.5rem;
    margin: 20px 0;
}
.container {
    position: relative;
    width: 160px;
    height: 100px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    background: #acb9c2;
    animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}
.loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    border-radius: 3px;
    background: #000308;
    animation-name: dot2_;
}
.loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    border-radius: 0 0 5px 5px;
    background: #6bb2cd;
    animation-name: dot3_;
}
@keyframes dot1_ {
    3%, 97% {
        width: 160px;
        height: 100px;
    }
    30%, 36% {
        width: 80px;
        height: 120px;
    }
    63%, 69% {
        width: 40px;
        height: 80px;
    }
}
@keyframes dot2_ {
    3%, 97% {
        height: 90px;
        width: 150px;
    }
    30%, 36% {
        width: 70px;
        height: 96px;
    }
    63%, 69% {
        width: 32px;
        height: 60px;
    }
}
@keyframes dot3_ {
    3%, 97% {
        height: 20px;
        width: 40px;
    }
    30%, 36% {
        width: 8px;
        height: 8px;
        border-radius: 8px;
    }
    63%, 69% {
        width: 16px;
        height: 4px;
        border-radius: 10px;
    }
}
.highlight {
    background-color: rgb(160, 190, 237);
    font-weight: bold;
    padding: 2px;
}
#search-sort-options {
    display: none;
    margin-top: 20px;
    text-align: center;
}
#searchBar {
    max-width: 600px;
    margin: 12px auto;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: box-shadow 0.3s;
}
#searchBar::placeholder {
    color: #aaa;
    font-style: italic;
}
.search-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.search-icon {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    color: #1e3d59;
}
#searchBar:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}
#sort-options {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}
#sort-options button {
    padding: 10px 20px;
    border: none;
    background-color: #112e48;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#sort-options button:hover {
    background-color: #3b6978;
}
@media (max-width: 768px) {
    #searchBar {
        width: 90%;
    }
    .device {
        width: 100%;
        margin: 10px 0;
    }
    #sidebar-menu {
        width: 100%;
    }
}
#device-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.device {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}
.device:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.device img {
    width: auto;
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 10px;
}
h2 {
    color: #1e3d59;
    font-size: 2rem;
    text-align: center;
}
p {
    margin: 5px 0;
}
.view-details-btn {
    background-color: #1e3d59;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.view-details-btn:hover {
    background-color: #3b6978;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.btn {
    background-color: #1e3d59;
    color: rgb(234, 230, 230);
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #3b6978;
}
footer {
    background-color: #1e3d59;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: relative;
}
@media (max-width: 768px) {
    .device {
        width: 100%;
        margin: 10px 0;
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.reviews button {
    margin-top: 10px;
    border-radius: 20px;
}
.review {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
}
/* General Form Styles */
.modal-content {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Drag-and-Drop Zone */
  #drop-zone {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  #drop-zone.dragging {
    background-color: #e0f7fa;
    border-color: #00bcd4;
    color: #00bcd4;
  }
  
  /* Image Preview */
  #preview {
    text-align: center;
    margin-top: 20px;
  }
  
  #preview img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
#modal-title {
    font-size: 1.8rem;
    color: #1e3d59;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
#device-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#device-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

#device-name {
    margin-top: 20px;
    font-size: 2rem;
    color: #1e3d59;
    text-align: center;
}

#device-specs {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #333;
    text-align: justify;
}

#device-reviews {
    margin-top: 30px;
}

#reviews-container {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}

#review-text {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#admin-panel .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    margin: 5% auto;
    position: relative;
}

#device-form button {
    background-color: #1e3d59;
    color: white;
    cursor: pointer;
}

#device-form button:hover {
    background-color: #3b6978;
}

#device-form, #admin-device-list {
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
}

#device-form input, #device-form textarea {
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 8px;
    box-sizing: border-box;
}

#admin-device-list .admin-device {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #666;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-width: 90%;
    }
}

.feature-highlights {
    text-align: center;
    padding: 50px 20px;
    background-color: none;
}

.feature-highlights h2 {
    font-size: 2.5rem;
    color: #f4f9fe;
    margin-bottom: 30px;
}

.category-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.category-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.category-card:hover {
    transform: rotateX(20deg) rotateY(20deg);
}

.category-card img {
    width: 80%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.category-card h3 {
    font-size: 1.8rem;
    color: #1e3d59;
    margin-top: 10px;
}

.category-card p {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .category-cards {
        justify-content: center;
    }

    .category-card {
        width: 100%;
        max-width: 300px;
    }
}

#contact {
    padding: 50px 20px;
    position: relative;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

#contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/office.png') no-repeat center center/cover;
    background-size: cover;
    opacity: 0.3;
    border-radius: 10px;
    z-index: 1;
}

#contact > * {
    position: relative;
    z-index: 2;
}

.contact-header h2 {
    font-size: 2.5rem;
    color: #1e3d59;
    margin-bottom: 10px;
}

.contact-header p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.contact-info {
    flex: 1 1 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    font-size: 1.8rem;
    color: #1e3d59;
    margin-bottom: 10px;
}

.contact-info address {
    font-style: normal;
    line-height: 1.8;
    color: #555;
}

.contact-info address a {
    color: #1e3d59;
    text-decoration: none;
}

.contact-info address a:hover {
    text-decoration: underline;
}

.contact-form-container {
    flex: 1 1 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contact-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #555;
    resize: none;
}

#contact-form textarea {
    min-height: 120px;
}

#contact-form button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 1.2rem;
    background: linear-gradient(45deg, #1e3d59, #336779);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #3b6978;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        text-align: center;
    }

    .contact-info, .contact-form-container {
        flex: 1 1 100%;
    }

    #contact-form button {
        width: auto;
    }
}

#contact address {
    margin-bottom: 20px;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

#contact address a {
    color: #1e3d59;
    text-decoration: none;
}

#contact address a:hover {
    text-decoration: underline;
}

#best-websites {
    padding: 20px;
    background-color: #f4f4f4;
}

#best-websites h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

#best-websites p {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

.website-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.website-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.website-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.website-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.website-item img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.website-item p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.website-item .btn {
    display: inline-block;
    background-color: #04203e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.website-item .btn:hover {
    background-color: #0056b3;
}

.video-container {
    text-align: center;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

video {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#admin-login {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#admin-login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#admin-login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#admin-login-form button {
    background: radial-gradient(circle, rgba(30, 61, 89, 0.8), rgb(2, 31, 58));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#admin-login-form button:hover {
    background: radial-gradient(circle, rgba(30, 61, 89, 1), rgba(0, 123, 255, 1));
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #555;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #1e3d59;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

#admin-panel {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#admin-panel h2 {
    text-align: center;
    font-size: 2rem;
    color: #1e3d59;
    margin-bottom: 20px;
}

#device-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#device-form input,
#device-form textarea,
#device-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#device-form input:focus,
#device-form textarea:focus,
#device-form select:focus {
    border-color: #1e3d59;
    box-shadow: 0 0 5px rgba(30, 61, 89, 0.5);
    outline: none;
}

#device-form button {
    background-color: #1e3d59;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#device-form button:hover {
    background-color: #3b6978;
}

#admin-device-list {
    margin-top: 20px;
}

.admin-device {
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-device h4 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
}

.admin-device p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.admin-device button {
    background-color: #1e3d59;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.admin-device button:hover {
    background-color: #3b6978;
}

#smileyCanvas {
    display: block;
    margin: 0 auto;
}

svg {
    display: block;
    margin: 0 auto;
}
